
#photo1459666644539a9 
{ 
	 left: -757px; 
	 top: -9px; 
	 position: absolute; 
	 width: 1653px;
	 height: 900px;
	 /* z-index:44; */
     
} 
#LOSANGELESMOUNTAINS 
{ 
	 left: 396px; 
	 top: 2586px; 
	 position: absolute; 
	 width: 110px;
	 height: 43px;
	 z-index:4;
	 
} 
#LOSANGELESMOUNTAINS_0 
{ 
	 left: 396px; 
	 top: 900px; 
	 position: absolute; 
	 width: 110px;
	 height: 43px;
	 z-index:42;
} 
#LOSANGELESMOUNTAINSc 
{ 
	 left: 413px; 
	 top: 100px; 
	 position: absolute; 
	 width: 594px;
	 height: 230px;
	 z-index:46;
} 


#logo 
{ 
	 left: 343px; 
	 top: 8px; 
	 position: absolute; 
	 width: 43px;
	 height: 43px;
	 /* z-index:51; */
} 

#peak 
{ 
	 left: -232px;  
	 top: 950px; 
	  position: absolute; 
	  width: 1653px; 
	  height: 1246px;
	  /* z-index:23; */
      object-fit: cover;
	  
	 
} 
#myCarousel{
    top: 2000px;
    margin-left: 500px;
}
#photo141702142391407 
{ 
	 left: -29px; 
	 top: 2320px; 
	 position: absolute; 
	 width: 1653px;
	 height: 1102px;
	 /* z-index:11; */
     object-fit: cover;
} 
#HISTORY 
{ 
	 left: 450px; 
	 top: 1120px; 
	 position: absolute; 
	 width: 110px;
	 height: 30px;
	 z-index:37;
} 

 #layer_01 
{ 
	 left: 327px; 
	 top: 1050px; 
	 position: absolute; 
	 width: 144px;
	 height: 124px;
	 z-index:38;
} 
#CLIMB 
{ 
	 left: 513px; 
	 top: 2250px; 
	 position: absolute; 
	 width: 80px;
	 height: 30px;
	 z-index:20;
} 

 #layer_02 
{ 
	 left: 363px; 
	 top: 2205px; 
	 position: absolute; 
	 width: 170px;
	 height: 124px;
	 z-index:21;
} 
p{
    color: black;
    left: 620px; 
	 top: 2250px; 
     position: absolute; 
}
.history {
    color: black;
    left: 400px; 
    top: 1185px; 
     position: absolute; 
}
#SCHEDULE 
{ 
	 left: 390px; 
	 top: 2480px; 
	 position: absolute; 
	 width: 132px;
	 height: 30px;
	 z-index:10;
} 
#box {
    left: 390px; 
	 top: 2530px; 
	 position: absolute;
     background-color: white ; 
     padding-left: 30px;
}
#logo1
{ 
	 left: 343px; 
	 top: 898px; 
	 position: absolute; 
	 width: 43px;
	 height: 43px;
	 z-index:43;
} 
#MOUNTAIN2 
{ 
	 left: 483px; 
	 top: 2330px; 
	 position: absolute; 
	 width: 100px;
	 height: 18px;
	 z-index:17;
} 

 #MOUNTAIN1 
{ 
	 left: 339px; 
	 top: 2330px; 
	 position: absolute; 
	 width: 98px;
	 height: 23px;
	 z-index:18;
} 